@import "tailwindcss";

@plugin "daisyui" {
    themes: aqua, light, dark, cupcake, cyberpunk, dracula, forest;
}


@keyframes neonPulse {

    0%,
    100% {
        box-shadow: 0 0 22px rgba(34, 211, 238, 0.5);
    }

    50% {
        box-shadow: 0 0 32px rgba(34, 211, 238, 0.8);
    }
}